/*  Background images*/

.content_bg-first_screen {
  background: url("../../images/bg_first_screen.jpg") center center;
}

.content_bg-1 {
  background: url("../../images/bg_1.jpg") bottom right;
}

.content_bg-1--big {
  background: url("../../images/bg_1-big.jpg") bottom right;
}

.content_bg-2--big {
  background: url("../../images/bg_2-big.jpg") top right;
}

.content_bg-2 {
  background: url("../../images/bg_2.jpg") top right;
}

.content_bg-2--middle {
  background: url("../../images/bg_2-middle.jpg") top right;
}

.content_bg-3 {
  background: url("../../images/bg_3.jpg") top right;
}

.content_bg-3--big {
  background: url("../../images/bg_3-big.jpg") top right;
}

.content_bg-4 {
  background: url("../../images/bg_4.jpg") top right;
}

.content_bg-4--middle {
  background: url("../../images/bg_4-middle.jpg") top right;
}

.content_bg-4--big {
  background: url("../../images/bg_4-big.jpg") top right;
}

.final_bg {
  background: url("../../images/bg_5.jpg") top right;
}
