extends ../../templates/index

block variables
    - var title = 'Главная страница'
    - var pageClass = 'index-page'

block content
    include ../../blocks/header-page

    .main-container
      ul.main
        include ../../blocks/first_screen-page

        include ../../blocks/slide_page-1

        include ../../blocks/slide_page-2

        include ../../blocks/slide_page-3

        include ../../blocks/slide_page-4

        include ../../blocks/slide_page-5

        include ../../blocks/slide_page-6

        include ../../blocks/slide_page-7

        include ../../blocks/slide_page-8

        include ../../blocks/slide_page-9

        include ../../blocks/slide_page-10

        include ../../blocks/slide_page-11

        include ../../blocks/slide_page-12

        include ../../blocks/slide_page-13

        include ../../blocks/slide_page-14

        include ../../blocks/slide_page-15

        include ../../blocks/slide_page-16

        include ../../blocks/slide_page-17

        include ../../blocks/slide_page-18

        include ../../blocks/slide_page-19

        include ../../blocks/slide_page-20

        include ../../blocks/slide_page-21

        include ../../blocks/slide_page-22

        include ../../blocks/last_page-1

        include ../../blocks/last_page-2

        include ../../blocks/last_page-3

        include ../../blocks/last_page-4

        include ../../blocks/share-page

        include ../../blocks/final-page

    include ../../blocks/footer-page




