li.slides.main_final.d-none
    h1.main_final-title ПРИСОЕДИНЯЙТЕСЬ К ДВИЖНИЮ #ValioCleanLife
    img.img_wave(alt='wave' src='./images/wave.svg')
    p.main_final-content Сокращение углеродного следа - одно из составляющих Устойчивого развития. И наши шаги сегодня могут помочь поколениям завтра.
    p.main_final-content Компания Valio также присоединяется к целям по Устойчивому развитию. В том числе, запускает глобальный научный проект по сокращению углеродного следа сырого молока, из которого производится наша продукция - в Финляндии и в России. Также мы призываем жителей всей планеты становиться ответственнее вместе с нами: ведь недаром наша миссия звучит как Together we make life better - «Вместе мы делаем жизнь лучше»!
    p.main_final-content Чтобы получить полное представление о вашем углеродном следе, мы рекомендуем продолжить ваше экологическое путешествие на сайте Valio https://www.valio.com/sustainability и сайте “Зелёного Драйвера” www.greendriver.ru
    img(alt='itog_logo' src='./images/logo_big.svg').main_final-image

