li.slides.main_first-screen
    h1.first_screen-title КАЛЬКУЛЯТОР УГЛЕРОДНОГО СЛЕДА 
        p #ValioCleanLife
     
    img.img_wave(alt='wave' src='./images/wave.svg')
    p.first_screen-content Какой след вы оставите в истории? Углеродный!
    p.first_screen-content Углеродный след - это количество парниковых газов, которые образуются в результате деятельности человека. Они пересчитываются в эквиваленте СО2 в килограммах. Количество выбросов парниковых газов растет: общий углеродный след России составляет уже 2651,2 миллиона тонн CO2 в год – и каждый из нас вносит свой вклад в увеличение этой цифры.
    p.first_screen-content Ваш индивидуальный углеродный след - это парниковые газы, которые выбрасываются в атмосферу, когда вы пользуетесь электричеством, транспортом, также учитывается энергия для производства еды, одежды и всего, что вы потребляете. Даже зарядка для телефона, оставленная в розетке, увеличивает ваш углеродный след!
    p.first_screen-content Калькулятор углеродного следа #ValioCleanLife концентрируется на потреблении товаров и сравнивает ваши результаты с другими людьми в России и других странах. Выберите тот вариант ответа, который наиболее соответствует вашему образу жизни!
    button(type='button').slides_button.js_next-slide Начать тест