footer.footer
    ul.footer_list
        li.footer_list-item
            a(href='#').list_item-link
                img.list_item-icon(alt='logo' src='./images/footer_facebook.svg')
        li.footer_list-item
            a(href='#').list_item-link
                img.list_item-icon(alt='logo' src='./images/footer_instagram.svg')
        li.footer_list-item
            a(href='#').list_item-link
                img.list_item-icon(alt='logo' src='./images/footer_youtube.svg')
    p.footer_content Тест основан на общепринятой методике расчета углеродного следа и разработан при поддержке экспертов в области экологии и устойчивого развития. Вы можете ознакомиться с научным обоснованием по ссылке.
    p.footer_content © OyCopyright ООО «Валио»