li.slides.main_last-screen.main_last-screen--third.d-none
    h1.last_screen-title ПОЗДРАВЛЯЕМ! ВАШ УГЛЕРОДНЫЙ СЛЕД МИНИМАЛЕН
    img.img_wave(alt='wave' src='./images/wave.svg')
    p.last_screen-content
        strong Ваш Углеродный след составляет от ---- до ----- в год.
    p.last_screen-content Он совсем почти незаметный для планеты! С таким уровнем осознанности можете начать свой проект или стартап по ответственному потреблению, заняться продвижением этих идей и даже стать блогером или тренером в вопросах устойчивого развития!

    img(alt='itog_logo' src='./images/logo_big.svg').last_screen-image
    button(type='button').slides_button.js_next-slide Поделиться