li.slides.main_last-screen.main_last-screen--first.d-none
    h1.last_screen-title ВЫ НА ПУТИ К ОТВЕСТВЕННОМУ ПОТРЕБЛЕНИЮ
    img.img_wave(alt='wave' src='./images/wave.svg')
    p.last_screen-content
        strong Ваш Углеродный след составляет от ---- до ----- в год.
    p.last_screen-content Ну что ж, вы явно стараетесь! И это здорово и для вас, и для Планеты!
    p.last_screen-content Постарайтесь посмотреть на всё что вы делаете с точки зрения заботы о себе и планете. Помните: многие не задумываются об углеродном следе вообще, а кто-то помогает, просто прихватив из дома сумку или многоразовый стакан! Оставьте свою почту, и мы отправим вам простых 5 советов, как еще можно снизить свой углеродный след!

    img(alt='itog_logo' src='./images/logo_big.svg').last_screen-image
    button(type='button').slides_button.js_next-slide Поделиться