li.slides.main_last-screen.main_last-screen--fourth.d-none
    h1.last_screen-title КАЖЕТСЯ, ВЫ НАСЛЕДИЛИ…
    img.img_wave(alt='wave' src='./images/wave.svg')
    p.last_screen-content
        strong Ваш Углеродный след составляет от ---- до ----- в год.
    p.last_screen-content У вас ещё всё впереди. Не волнуйтесь, если вы раньше об этом не задумывались. Делайте то, что вы можете и хотите делать! Путь к Устойчивому развитию идет через отношение к жизни, не вините себя за прошлое - пробуйте и изучайте, что быть лучше в будущем!
    p.last_screen-content С чего же начать? Оставьте свою почту, и мы отправим вам 5 советов, как можно снизить свой углеродный след!

    img(alt='itog_logo' src='./images/logo_big.svg').last_screen-image
    button(type='button').slides_button.js_next-slide Поделиться