li.slides.main_last-screen.main_last-screen--second.d-none
    h1.last_screen-title ВЫ МАСТЕР УСТОЙЧИВОГО РАЗВИТИЯ
    img.img_wave(alt='wave' src='./images/wave.svg')
    p.last_screen-content
        strong Ваш Углеродный след составляет от ---- до ----- в год.
    p.last_screen-content Вы умница, так держать! Устойчивое развитие возможно именно благодаря таким, как вы!
    p.last_screen-content Но совершенству нет предела! Предлагаем вам пофантазировать, как вы ещё можете помочь окружающей среде и Планете. Мы направим вам 5 советов, как еще можно снизить свой углеродный след! Оставляете почту и получайте ценные советы от Valio!

    img(alt='itog_logo' src='./images/logo_big.svg').last_screen-image
    button(type='button').slides_button.js_next-slide Поделиться