li.slides.main_share.d-none
    h1.main_share-title Получить 10 советов по снижению углеродного следа
    img.img_wave(alt='wave' src='./images/wave.jpg')
    input(type='email' placeholder='E-mail').main_share-input
    .main_share-form
        input(type='checkbox' id='check').main_share-check
        label(for='check').main_share-label 
            a(href="#")
                | Я ознакомился и согласен с условиями
                u.main_share-label--u
                    br
                    | пользовательского соглашения

    button(type='button').slides_button.js_next-slide Поделиться
    .main_share-text Поделиться результатом
    ul.main_share-list
        li.main_share-item
            a(href='#')
                img(alt='FB' src='./images/share_fb.png').main_share-icon
        li.main_share-item
            a(href='#')
                img(alt='OK' src='./images/share_ok.png').main_share-icon
        li.main_share-item
            a(href='#')
                img(alt='VK' src='./images/share_vk.png').main_share-icon