li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Какой в вашем доме метод отопления?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Центральное отопление или мазут
        .slides_answer.js_next-slide
            p.slides_answer-text Электричество
        .slides_answer.js_next-slide
            p.slides_answer-text Природный газ
        .slides_answer.js_next-slide
            p.slides_answer-text Древесина или пеллеты
        .slides_answer.js_next-slide
            p.slides_answer-text Возобновляемая энергия (энергия солнца, ветра и т.д.)
        .slides_answer.js_next-slide
            p.slides_answer-text Я не знаю
    img.bottom_icon(src="../images/lumi_RGB.png", alt="", srcset="")
    .slides_count 10/22