li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item.active
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Обращаете ли вы внимание на состав продуктов, которые покупаете?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text.w-60 Я часто употребляю фастфуд и полуфабрикаты, честно говоря, я даже не знаю, что в составе
        .slides_answer.js_next-slide
            p.slides_answer-text Я покупаю то, что мне нравится, и не особо слежу, что в составе
        .slides_answer.js_next-slide
            p.slides_answer-text.w-70 Я тщательно читаю этикетки и беру продукты с небольшим количеством ингредиентов и с максимально простым и понятным мне составом
        .slides_answer.js_next-slide
            p.slides_answer-text.w-70 Я, конечно, стремлюсь покупать мало и не полуфабрикаты с полезным составом, но иногда руки так и тянутся к каким-нибудь вредностям
    .slides_count 3/22