li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item.active
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Где и как вы приобретаете воду?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Я часто покупаю воду в одноразовых пластиковых бутылках
        .slides_answer.js_next-slide
            p.slides_answer-text Я фильтрую воду дома из крана и использую многоразовые бутылки
        .slides_answer.js_next-slide
            p.slides_answer-text Заказываю воду большими бутылками с доставкой
    .slides_count 4/22