li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Как бы вы описали себя как покупателя?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text.w-66 Я покупаю только тогда и то, что мне абсолютно необходимо
        .slides_answer.js_next-slide
            p.slides_answer-text.w-78 Я люблю забирать ненужные им вещи у друзей, покупать вещи на блошиных рынках и Авито. Так можно найти много интересных и полезных вещей!
        .slides_answer.js_next-slide
            p.slides_answer-text.w-60 Я делаю импульсивные покупки время от времени
        .slides_answer.js_next-slide
            p.slides_answer-text.w-60 Я люблю жить по последней моде, так что покупаю много нового почти каждый сезон
        .slides_answer.js_next-slide
            p.slides_answer-text.w-60 Я часто хожу в магазины и на выставки, чтобы обновить коллекции своих любимых вещей
    .slides_count 18/22