li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Как вы поступаете с мусором?

    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text.w-78 Я стремлюсь разделять отходы, но это непросто. Иногда удаётся пластик, бумагу и батарейки сдавать на вторичную переработку.
        .slides_answer.js_next-slide
            p.slides_answer-text.w-85 Я пока ничего не знаю про разделение отходов и честно признаюсь, мне некогда этим заниматься, – я выбрасываю весь мусор в один контейнер
        .slides_answer.js_next-slide
            p.slides_answer-text.w-85 Я сортирую и сдаю в переработку все, что возможно - метал, стекло, бумагу, пластик, ненужную одежду и даже регулярно компостирую пищевые отходы
    img.bottom_icon(src="../images/tuotanto_RGB.png", alt="", srcset="")
    .slides_count 16/22