li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item.active
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Какие продукты питания у вас самые любимые и составляют большую часть вашего ежедневного рациона?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Говядина и мясное ассорти
        .slides_answer.js_next-slide
            p.slides_answer-text Свинина, курица, морепродукты, яйца
        .slides_answer.js_next-slide
            p.slides_answer-text Овощи, фрукты, зелень, зерновые
        .slides_answer.js_next-slide
            p.slides_answer-text Хлебопродукты, включая выпечку и сладкое
        .slides_answer.js_next-slide
            p.slides_answer-text Молочные продукты (молоко, простокваша, йогурт, творог, сливки, масло и т.д.)
        .slides_answer.js_next-slide
            p.slides_answer-text.w-70 У меня сбалансированное питание. Я ем все вышеуказанные продукты почти каждый день
    .slides_count 2/22