li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Сколько человек живёт с вами?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text 1
        .slides_answer.js_next-slide
            p.slides_answer-text 2
        .slides_answer.js_next-slide
            p.slides_answer-text 3
        .slides_answer.js_next-slide
            p.slides_answer-text 4
        .slides_answer.js_next-slide
            p.slides_answer-text 5
        .slides_answer.js_next-slide
            p.slides_answer-text Больше 5-ти
    img.bottom_icon(src="../images/knowhow_RGB.png", alt="", srcset="")
    .slides_count 11/22