li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Компенсируете ли вы выбросы парниковых газов от ваших путешествий и других действий? Например, добровольными платежами за выбросы углерода, высадкой деревьев и т.д.
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Я вообще их не покупаю
        .slides_answer.js_next-slide
            p.slides_answer-text Меняю гаджеты, как только выходят новые модели
        .slides_answer.js_next-slide
            p.slides_answer-text Использую гаджеты то тех пор, пока они не ломаются
    img.bottom_icon(src="../images/pilvet_RGB.png", alt="", srcset="")
    .slides_count 21/22
