li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Какой способ передвижения вы чаще всего используете?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Я хожу пешком
        .slides_answer.js_next-slide
            p.slides_answer-text.w-65 Я всё заказываю онлайн, и товары доставляют прямо к двери моего дома/квартиры, так что мало выхожу из дома
        .slides_answer.js_next-slide
            p.slides_answer-text Я езжу на велосипеде или самокате
        .slides_answer.js_next-slide
            p.slides_answer-text Я езжу на своей малолитражке / Tesla /Toyota Prius
        .slides_answer.js_next-slide
            p.slides_answer-text У меня большой внедорожник – езжу везде на нем! И удобно и всё помещается
        .slides_answer.js_next-slide
            p.slides_answer-text Я езжу на легковом автомобиле или такси
        .slides_answer.js_next-slide
            p.slides_answer-text Я езжу на общественном транспорте
    img.bottom_icon(src="../images/skoolaavat_lasit_RGB.png", alt="", srcset="")
    .slides_count 5/22