li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title На чем вы чаще всего путешествовали за последний год?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Почти всегда выбираю самолет – удобно и быстро!
        .slides_answer.js_next-slide
            p.slides_answer-text Часто передвигаюсь на поездах. И с людьми можно пообщаться и окрестности посмотреть
        .slides_answer.js_next-slide
            p.slides_answer-text Часто езжу на машине даже на дальние расстояния. Все можно взять с собой!
        .slides_answer.js_next-slide
            p.slides_answer-text Я предпочитаю отдыхать недалеко от дома – дача, парки и леса
        .slides_answer.js_next-slide
            p.slides_answer-text Предпочитаю прогулки на пароходах.
    .slides_count 6/22