li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Как часто вы покупаете новую одежду?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Люблю секонд-хэнды, шеринги, регулярно переделываю старые вещи в новые
        .slides_answer.js_next-slide
            p.slides_answer-text Делаю импульсивные покупки время от времени, но в основном ношу одно и то же
        .slides_answer.js_next-slide
            p.slides_answer-text Покупаю новую вещь только тогда, когда старая приходит в негодность
        .slides_answer.js_next-slide
            p.slides_answer-text Каждый сезон покупаю что-то новое
        .slides_answer.js_next-slide
            p.slides_answer-text Люблю шопинг и каждые выходные, а то и чаще, что-то покупаю
    .slides_count 19/22