li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Какое количество продуктов вы покупаете и используете?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text.w-75 Я покупаю столько продуктов, сколько смогу съесть до того, как продукты не испортятся. И стараюсь не выбрасывать остатки – использую все!
        .slides_answer.js_next-slide
            p.slides_answer-text.w-65 Покупаю много продуктов про запас. Часто бывает, что продукты портятся, и я их выбрасываю
        .slides_answer.js_next-slide
            p.slides_answer-text.w-65 Я стараюсь покупать на короткий период, но иногда приходится некоторые продукты выбрасывать, когда они испортились
        .slides_answer.js_next-slide
            p.slides_answer-text.w-60 Редко хожу в магазины, питаюсь в кафе и ресторанах, заказываю еду на дом
    img.bottom_icon(src="../images/juusto_RGB.png", alt="", srcset="")
    .slides_count 15/22
