li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Когда я хожу в магазин:
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text.w-78 Я всегда приношу свои многоразовые сумки и экомешочки/фруктовки и стремлюсь не покупать продукты в пластиковой и пенопластовой упаковке.
        .slides_answer.js_next-slide
            p.slides_answer-text.w-88.w-m-100 По возможности стараюсь брать продукты в упаковке, которую можно сдать на переработку или повторно использовать. Стараюсь не брать пакет на кассе, а если это случается, использую его несколько раз.
        .slides_answer.js_next-slide
            p.slides_answer-text Не придаю значение типу упаковки при выборе покупок
    .slides_count 14/22