li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Я покупаю водо/энергосберегающую бытовую технику:
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Да, всегда. Это же еще и экономия на коммунальных платежах!
        .slides_answer.js_next-slide
            p.slides_answer-text Да, постепенно, когда обновляю ту, которая стоит дома.
        .slides_answer.js_next-slide
            p.slides_answer-text.w-60 Нет, я совсем не слежу за этим. Главное, чтобы было функционально и недорого.
    .slides_count 13/22