li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item.active
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon
    h3.main_slide-title Какое количество пищи вы обычно употребляете в течение обычного дня?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Питаюсь как воробышек, а иногда и вовсе забываю поесть.
        .slides_answer.js_next-slide
            p.slides_answer-text Я ем небольшие порции (размером с маленькое блюдце) 3-4 раза в день
        .slides_answer.js_next-slide
            p.slides_answer-text.w-65 Я никогда себя ни в чём не ограничиваю. Всегда при возможности прошу добавки
    .slides_count 1/22