li.slides.main_slide.d-none
    ul.slides_nav
        li.slides_nav-item
            h4.nav_item-title Питание
            div.nav_item-circle
                img(src='./images/slides_icon-1.png' alt='icon').slides_icon
        li.slides_nav-item.active
            h4.nav_item-title.w-60 Транспорт и энергия
            div.nav_item-circle
                img(src='./images/slides_icon-2.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Отдых
            div.nav_item-circle
                img(src='./images/slides_icon-3.png' alt='icon').slides_icon
        li.slides_nav-item
            h4.nav_item-title Осозанное производство и потребление
            div.nav_item-circle
                img(src='./images/slides_icon-4.png' alt='icon').slides_icon


    h3.main_slide-title Сколько километров в неделю вы ездите на машине (собственной, такси)?
    img.img_wave(alt='wave' src='./images/wave.svg')
    .slides_answers
        .slides_answer.js_next-slide
            p.slides_answer-text Я не езжу на машине
        .slides_answer.js_next-slide
            p.slides_answer-text Менее 100 км
        .slides_answer.js_next-slide
            p.slides_answer-text 100 – 400 км
        .slides_answer.js_next-slide
            p.slides_answer-text Более 400 км
    .slides_count 8/22